{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- navbar section -->
    <nav id="navbar" class="flex s-around bg-color">
        <div class="left-nav">
            <h2 class="t-white">Portfolio</h2>
        </div>
        <div class="right-nav">
            <ul class="flex">
                <li><a href="#home" class="t-white roboto">Home <i class="fa-solid fa-house"></i></a></li>
                <li><a href="#about" class="t-white roboto">About Me <i class="fa-solid fa-user"></i></a></li>
                <li><a href="#skills" class="t-white roboto">Skills <i class="fa-solid fa-code"></i></a></li>
                <li><a href="#Projects" class="t-white roboto">Projects <i class="fas fa-project-diagram"></i></a></li>
                <li><a href="#Contact" class="t-white roboto">Contact <i class="fa-solid fa-rocket"></i></a></li>
            </ul>
        </div>

    </nav>

    <!-- Home Section -->
     <section id="home" class="flex s-around sw-80 m-auto">
        <div class="home-left flex items-center">
            <div class="home-content">
                <h6 class="popinss">Hi , I'm</h6>
                <h1 class="t-white">Saikumar Enagaluru</h1>
                <h4 class="popinss">Software Engineer</h4>
                <a href="{% static 'pdf/Resume_SAI.pdf' %}" target="_blank"><button class="btn popinss">Resume</button></a>
                <a href="https://www.linkedin.com/in/sai-kumar-enagaluru-1594a626a/?originalSubdomain=in" class="btn live popinss" id="hireme" target="_blank">Let's Talk</a>
            </div>
        </div>
        <div class="home-right flex s-center items-center">
            <div class="circle flex s-center items-center" id="mainImage">
                <img src="{% static 'images/sai.png' %}" alt="picture">
            </div>
        </div>
     </section>
    
     <!-- About  -->
      <section id="about">
        <h1 class="t center my-2 t-white f-2">About Me</h1>
        <div class="about-container flex s-around">
            <div class="about-left flex s-center items-center">
                <img src="{% static 'images/photo.jpg' %}" alt="coding image">
            </div>
        </div>

        <div class="about-right flex">
            <div class="about-content">
                <h1 class="t-white m-b-1 popinss">Saikumar Enagaluru</h1>
                <p class="t-white popinss">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est nostrum quas illo, eum neque voluptate voluptas in! Nihil tempora autem voluptates sunt eum. Ea pariatur ipsam dolorem possimus repudiandae sed!</p>
            </div>
        </div>
      </section>

      <!-- Skills -->
       <section id="skills">
            <h1 class="t-center my-2 t-white f-2">Skills</h1>
            <div class="services-container flex s-around h-50">
                <div class="skills-left flex s-center items-center">
                    <img src="{% static 'images/code.webp' %}" alt="skills image">
                </div>
                <div class="skills-right flex items-center">
                    <div class="skills-container">
                        <div class="python bar p-relative"><span class="bar-content left t-white">Python</span>
                        <span class="bar-content right-skills t-white">90%</span></div>

                        <div class="html bar p-relative"><span class="bar-content left t-white">HTML</span>
                        <span class="bar-content right-skills t-white">90%</span></div>

                        <div class="css bar p-relative"><span class="bar-content left t-white">CSS</span>
                        <span class="bar-content right-skills t-white">80%</span></div>

                        <div class="js bar p-relative"><span class="bar-content left t-white">JavaScript</span>
                        <span class="bar-content right-skills t-white">60%</span></div>

                        <div class="sql bar p-relative"><span class="bar-content left t-white">MySQL</span>
                        <span class="bar-content right-skills t-white">70%</span></div>
                    </div>
                </div>

            </div>
       </section>

       <!-- projects -->
        <section id="Project">
            <h1 class="t-center my-2 t-white f-2">Projects</h1>
            <div class="project-container flex s-center">
                <div class="project-item flex f-col s-center items-center">
                    <h1 class="t-white popinss">To-Do List</h1>
                    <p class="t-white popinss">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, laborum, ipsam ea autem quidem inventore facere numquam voluptatum earum vel nam aut, fugiat distinctio architecto repellat illo similique voluptatem. Nulla.</p>
                    <div class="button flex s-around"><a href="https://github.com/saienagaluru04/ToDoList_Project.git" target="_blank" class="btn mx-1 m-top">GitHub</a></div>
                </div>

                <div class="project-item flex f-col s-center items-center">
                    <h1 class="t-white popinss">My Portfolio</h1>
                    <p class="t-white popinss">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, laborum, ipsam ea autem quidem inventore facere numquam voluptatum earum vel nam aut, fugiat distinctio architecto repellat illo similique voluptatem. Nulla.</p>
                    <div class="button flex s-around"><a href="" target="_blank" class="btn mx-1 m-top">GitHub</a></div>
                </div>
                
            </div>
        </section>
        <!-- Contact me section -->
         <section id="Contact" class="m-b-1">
            <h1 class="t-center my-2 t-white f-2">Contact Me</h1>
            <div class="Contact-container flex s-around items-center">
                <div class="form" id="contactform">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="name form-div">
                            <input type="text" name="name" id="name" class="popinss" placeholder="Enter your Name">
                        </div>

                        <div class="email form-div">
                            <input type="text" name="email" id="email" class="popinss" placeholder="Enter your Email">
                        </div>

                        <div class="phone form-div">
                            <input type="phone" name="phonenumber" id="phonenumber" class="popinss" placeholder="Enter your PhoneNumber">
                        </div>

                        <div class="textarea form-div">
                            <textarea name="message" id="textarea" col="30" rows="10" class="popinss" placeholder="Enter your Message:"></textarea>
                        </div>
                        <button type="submit" class="btn popinss" id="submit">Send</button>
                    </form>
                </div>
            </div>


         </section>
         <!-- Footer section -->
          <footer id="footer">
            <ul class="flex s-center w-80 m-auto my-2 res">
                <li><a href="#home" class="popins">Home</a></li>
                <li><a href="#about" class="popins">About</a></li>
                <li><a href="#skills" class="popins">Skills</a></li>
                <li><a href="#project" class="popins">Projects</a></li>
                <li><a href="#portfolio" class="popins">Portfolio</a></li>

            </ul>
            <ul class="flex s-center w-80 font-awesome">
                <a href="" target="_blank">
                    <li><i class="fa-brands fa-linkedin-in"></i></li>
                </a>

                <a href="" target="_blank">
                    <li><i class="fa-brands fa-github"></i></li>
                </a>

                <a href="" target="_blank">
                    <li><i class="fa-brands fa-instagram"></i></li>
                </a>

            </ul>
            <p class="t-center my-2 popinss">&copy; All Right are Reserved - <span class="cpy-white popins">Saikumar Enagaluru</span></p>
          </footer>
</body>
</html>